.forecastMain{
   margin: 190px 0px;
}
h1, h2, h3, h4, h5, h6, img {
  text-align: center;
}
img{
  display: block;
  margin-left:auto;
  margin-right: auto;
}
.formmain{
  margin: 0px auto;
  display: table;
}
.forecastweatherMain{
  margin: 30px 0px 0px 0px;
}
.day{
  width: 19%;
  float: left;
}

@media screen and (max-width:800px) {
  .day{
    float: none;
    text-align: center;
    margin: 0px auto;
    width: 100%;
    }
}


