<div class="footerBg">
  <div class="container clearfix">
   <div class="col-lg-4 col-md-4 col-sm-4 float-left">
     <h3>Weather in your city</h3>
     <ul>
       <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Find your city</a></li>
       <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Weather maps</a></li>
     </ul>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-4 float-left">
      <h3>Weather APIs</h3>
      <ul>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>How to start</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Weather APIs for developers</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Current weather</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>5 day weather forecast</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Hourly historical data</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>History bulk</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Examples of API use</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 float-left">
        <h3>Go Social</h3>
        <div class="socialMain">
         <ul>
           <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
         </ul>
        </div>
      </div>
  </div>
</div>
