.footerBg{
  background: rgba(0,0,0,1) url('/assets/images/ftw_bg.png') center no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  padding: 20px 0px;
}
.footerBg h3{
  padding: 10px 0px;
  border-bottom: 1px solid #fff;
}
.footerBg ul li{
  list-style-type: none;
}
.footerBg ul li a{
  text-decoration: none;
  color: #fff;
}
.footerBg ul li a:hover{
  color: lightblue;
}
.footerBg ul li i{
  margin: 0px 5px;
}
.socialMain, .socialMain ul, .footerBg ul{
  padding: 0px;
  margin: 0px;
}
.socialMain ul li{
  list-style-type: none;
  float: left;
  padding: 0px 10px 0px 0px;
}
.socialMain ul li a {
  color: #fff;
  font-size: 25px;
}
.socialMain ul li a:hover{
  color:lightblue;
}
